DirectoryIndex index.html
ErrorDocument 404 /404.html

<IfModule mod_headers.c>
  <FilesMatch "\.(html|txt|xml|json|webmanifest)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
